/* YouTube */
.vp-doc a[href^="https://www.youtube.com/"]:before
{
  content: "";
  background-image: url(/icons/youtube.svg);
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background-size: cover;
  margin-right: 4px;
}

/* 哔哩哔哩 */
.vp-doc a[href^="https://www.bilibili.com/"]:before
{
  content: "";
  background-image: url(/icons/bilibili.svg);
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background-size: cover;
  top: -2px;
  margin-right: 4px;
}

/* github */
.vp-doc a[href^="https://github.com/"]:before
{
  content: "";
  background-image: url(/icons/github.svg);
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background-size: cover;
  top: -2px;
  margin-right: 4px;
}

/* gitee */
.vp-doc a[href^="https://gitee.com/"]:before
{
  content: "";
  background-image: url(/icons/gitee.svg);
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background-size: cover;
  top: -2px;
  margin-right: 4px;
}
